.conteudo-cadastrar-contato{
    display: flex;
    /*width: 80%;
    margin: auto;*/
    gap: 3rem;
}
.conteudo-colun1{
    padding-top: 3.9rem;
    flex:1;
    margin-left: 8rem;
    
}
.conteudo-colun2{
    padding-top: 4rem;
    flex:2;
    color: #400101;
    /*background-color: #FFFDF2;*/
}

.ul-contatos-cadastrados-lista-geral{
    text-decoration: none;
}
.titulo-conteudo-colun2{
    margin-top: 0 !important;
    font-weight: bold;
}
.item-cadastro-espaco{
    margin-bottom: 1rem;
}
.display-block{
    display: block;
}

.input-cadastro-contato{
    border: 1px solid #F2E3C7;
    background-color: #F2E3C7;
    width: 14rem;
    height: 1.5rem;
    border-radius: 5px;
}

.label-cadastro-contato{
    color: #400101;
}
.titulo-cadastro-contato{
    font-weight: bold;
}
.botao-cadastro-contato{
    background-color: #DDB364;
    color: white;
    padding: 0.5rem 2rem;
    border: 1px solid #DDB364;
    border-radius: 5px;
}
